header
{
	display: grid;
	width: 96%;
	height: 5.5vw;
	margin: 0.5vw auto;
	grid-template-columns: 6% 39% 55%;
	grid-template-rows: 100%;
}
			
header img
{
	width: 5.5vw;
}

#lbs
{
	width: 100%;
	padding-top: 0.8vw;
	padding-left: 1.5vw;
	font-size: 1.6vw;
	font-weight: 600;
	color: #78081C;
}
			
#ccs
{
	width: 100%;
	padding-top: 0.2vw;
	padding-left: 1.5vw;
	font-size: 1.2vw;
	font-weight: 600;
	color: #F7C301;
}

nav
{
	display: flex;
	width: 100%;
	padding-top: 0.5vw;
	font-size: 1.2vw;
}

li
{
	display: inline;
	margin-right: 3.5vw;
}	

a
{
	text-decoration: none;
	color: #000;
}

#current
{
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 5px;
	font-weight: 600;
}